{% extends "main/head.html"%}

{%block result%}
<div class="container-fluid">
    <h1>Search NASA's library of Images</h1>
    <p>
        This site functions as an interface to an api made by NASA to search the organization's vast collection of pictures.
        To start searching, use the textbox in the navbar or access the full search form under "Search Form."
    </p>
    <a href="https://api.nasa.gov/api.html#images-endpoints" class="btn btn-primary" role="button" target="_blank">API</a>
    
</div>

{%endblock%}